body {
    max-width: 1600px;
    margin: 0 auto;
}
.header {
    background-image: url("/img/Background\ \(1\).png");
    background-size: cover cover;
    height: 800px;

    .header_menu {
        margin: 0 auto;
        display: flex;
        padding-top: 53px;
        text-align: center;
        max-width: 1170px;
    }
    .header_menu-logo {
        margin-right: 167px;
    }

    .header_menu-nav-list {
        display: flex;
        padding: 18px 0 0 0;

        li {
            font-family: "Source Sans Pro";
            font-size: 14px;
            line-height: 18px;
            color: #fff;
            margin-right: 93px;
        }
    }
    .header_menu-social {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-left: 17px;
    }
}
